# Ignore Python compiled files and cache
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore SQLite database file
db.sqlite3

# Ignore environment variables file
.env

# Ignore Node.js dependencies and logs
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Ignore VSCode workspace settings
.vscode/

# Ignore Webpack build outputs
dist/
build/

# Ignore Django log and translation files
*.log
*.pot
*.pyc
__pycache__/

# Ignore React build outputs and logs
*.log
build/
